
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

* {
    box-sizing: border-box;
}

:root {
    --font-family: 'Poppins', sans-serif;
    --bg-color:  #394546;
    --focar-color: #2d3131;
    --box-shadow:  0 5px 10px rgba(154, 160, 185, 0.05),
    0 15px 40px rgba(0, 0, 0, 0.1);
    --text-color: #eee;
    --color-repo: #fff;

}

body {
    background-color: var(--bg-color);
    color: var(--color-repo);
    font-family: var(--font-family);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.user-form {
    width: 100%;
    max-width: 700px;
}

.user-form input {
    width: 100%;
    display: block;
    background-color: var(--focar-color);
    border: none;
    border-radius: 10px;
    color: var(--color-repo);
    padding: 1rem;
    margin-bottom: 2rem;
    font-family: inherit;
    font-size: 1rem;
    box-shadow: var(--box-shadow);  
}

.user-form input::placeholder {
    color: #bbb;
  }
  
  .user-form input:focus {
    outline: none;
  }